<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add picture</title>
</head>
<body>
<form method="post" th:action="@{/add-picture}" enctype="multipart/form-data">
    <input value="name" name="name">
    <br>
    <input value="owner_id" name="owner_id">
    <br>
    <input name="is_public" type="checkbox">
    <br>
    <input type="file" name="file" value="picture to upload">
    <br>
    <input type="submit" value="Add picture">
</form>
</body>
</html>